*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", Arial, sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: flex;
  align-items: end;
  width: 1140px;
  gap: 30px;
}

.content__details {
  flex: 1;
}

.search-form {
  display: flex;
  align-items: start;
  gap: 40px;
}

.content__list-container {
  position: relative;
  height: 298px;
  overflow-y: auto;
  overflow-x: hidden;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 395px;
  padding-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item:last-child {
  margin-bottom: 30px;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: right;
}

.content__video-card-description-container {
  flex-grow: 1;
  max-width: 196px;
  overflow: hidden;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 2;
}

.title {
  font-family: Oswald, Arial, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 0.94;
  text-transform: uppercase;
  padding-bottom: 26px;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}

.content__video-card-title {
  font-family: Oswald, Arial, sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.content__video-card-description {
  font-size: 18px;
  line-height: 0.9;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  text-overflow: ellipsis;
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  gap: 5px;
  align-items: center;
  width: fit-content;
}

.search-form__textfield {
  font-family: "Fira Sans Condensed", Arial, sans-serif;
  width: 225px;
  font-size: 18px;
  color: #fff;
  line-height: 1;
  border: none;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  background-color: #1b1919;
  appearance: none;
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__checkbox-list .search-form__label:hover {
  color: #fff;
  text-decoration: underline;
}

.button {
  font-family: "Fira Sans Condensed", Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  border: 1px solid currentColor;
  padding: 6px 0 6px 0;
  background-color: #1b1919;
  cursor: pointer;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  align-self: flex-end;
}

.more-button {
  width: 98%; /* изменила заполнение на 98%, чтобы кнопка не обрезалась справа и вся обводка была видна*/
  margin: 0px 3px 3px 3px;
}

.button:hover {
  color: #fff;
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  color: #fff;
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__list-item {
  padding: 0 3px 0 3px;
}

.search-form__label-text {
  cursor: pointer;
}
